@import './variables.scss';

@font-face {
	font-family: 'Butler';
	font-style: normal;
  font-weight: 300;
	src: url(./public/fonts/Butler_Light.otf) format('otf');
}

@font-face {
	font-family: 'Butler';
	font-style: normal;
  font-weight: 400;
	src: url(./public/fonts/Butler_Regular.otf) format('otf');
}

@font-face {
  font-family: 'Butler';
	font-style: normal;
	font-weight: 700;
	src: url(./public/fonts/Butler_Bold.otf) format('otf');
}

html { box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
}
 
html,
body {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

body {
  color: $bodyColor;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  //font-family: 'Montserrat', sans-serif;
  //background-color: $lightGray;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  color: $headingColor;
}

.main-heading {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.gray-bkg {
  background-color: $bkgGray;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.column {
  max-width: 650px !important;
  .column__heading {
    text-transform: uppercase;
    margin-top: 4rem;
    font-size: 1.15rem;
    margin-bottom: 0px;
    color: $headingColor;
  }
}

.no-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}

.examples {
  text-align: center;
  margin-top: 4rem;
  img {
    max-width: 75%;
  }
  &:first-of-type {
    margin-top: 0px;
  }
  .examples__heading-border {
    width: 50px;
    border-bottom: 3px solid #7BDAC5;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
  }
  .examples__heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.15rem;
  }
}

.prototype {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  iframe {
    border-width: 0px;
  }
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container {
  .nav-container__logo {
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .nav-container__list {
    text-align: right;
    ul {
      list-style-type: none;
      li {
        display: inline-block;
        margin: 1rem;
        &.active {
          a {
            border-bottom: 3px solid #7BDAC5;
          }
        }
        a {
          text-decoration: none;
          color: $headingColor;
          padding: 5px;
        }
      }
    }
  }
}

.extra-spacing {
  margin-top: 3rem;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.wireframes {
  margin-top: 3rem;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}

.image-caption {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: $headingColor;
  letter-spacing: 2px;
}

footer {
  margin-top: 6rem;
  margin-bottom: 1rem;
  .contact-right {
    text-align: right;
  }
}

.btn-container {
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}

button {
  border-radius: 50px;
  border-color: #7BDAC5;
  cursor: pointer;
  padding: 1rem 2.5rem;
  background-color: #7BDAC5;
  a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem !important;
  }
}

.icon {
  width: 40px;
  vertical-align: middle;
  margin-right: 1rem;
}

.icon-title {
  display: inline-block;
}

.icon-description {
  margin-top: 10px;
}