/* COLORS */
$white: #ffffff;
$lightShade: #F0EDF0;
$lightAccent: #AEBBB2;
$mainBrandColor: #B8A77A;
$darkAccent: #A7ABB5;
$darkShade: #57676D;

$headingColor: #6C6A6D;
$bodyColor: #9B9B9B;
// $bodyColor: #6C6A6D;
$bkgGray: #F6F5F5;

$darkGray: #4A4A4A;
$lightGray: #F2F1F1;
$mediumGray: #9B9B9B;
/*
FONT SIZES
*/
$heading-size: 1.75rem;
$sm-heading-size: 1.3rem;
$xs-heading-size: 1rem;

/*
SIZES
*/
$base-spacing: 1rem;
$base-spacing-x2: 1.5rem;
$base-spacing-x3: 2rem;
$base-spacing-x4: 2.5rem;
$base-spacing-x5: 3rem;
$base-spacing-x6: 3.5rem;
$base-spacing-x7: 4rem;

$section-bottom-spacing: 6rem;

$main-spacing: 1.5rem;
$main-spacing-2x: 3rem;
$max-width: 1100px;
$btn-font-size: 0.9rem;
$lg-section-heading: 3.5rem;
$lg-section-heading-line-height: 4.5rem;
$ex-lg-section-heading: 7.5rem;
$ex-lg-line-height-heading: 9rem;

$link-color: #B8A77A;

/*
MEDIA SIZES
*/
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;
$break-exLarge: 1600px;

/*
MIXINS
*/
@mixin sm-tablet {
  @media (min-width: #{$break-small}) { // and (max-width: #{$break-medium - 1px}
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$break-medium}) { // and (max-width: #{$break-large - 1px}
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$break-large}) {
    @content;
  }
}

@mixin lg-desktop {
  @media (min-width: #{$break-exLarge}) {
    @content;
  }
}